.logo {
  width: 18rem;
  height: auto;
  position: absolute;
}

.sect {
  color: black !important;
}

.sect:nth-child(1) {
  background-color: goldenrod !important;
}

.sect:nth-child(2) {
  background-color: plum !important;
}

.sect:nth-child(3) {
  background-color: lightcyan !important;
}

.sect:nth-child(4) {
  background-color: lightgreen !important;
}

.sect:nth-child(5) {
  background-color: lightgray !important;
}
